@media screen and (min-width: 1200px) {
  .support-slider-container {
    height: 490px;
    position: sticky;
    top: 72px;
  }
  .sidebar {
    margin-right: 40px;
  }
  .swiper-wrapper {
    gap: 20px;
  }

  .slider__next {
    bottom: 24px;
  }
}
