@media screen and (max-width: 767px) {
  .sidebar {
    margin-bottom: 40px;
  }
  .support-slider-container {
    height: 352px;
  }

  .suport-heading-block {
    font-size: 28px;
    line-height: 32px;
  }

  .swiper-wrapper {
    padding-bottom: 68px;
  }

  .slider__next {
    bottom: 20px;
  }
}
