@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sidebar {
    display: flex;
    margin-bottom: 100px;
  }
  .support-slider-container {
    margin-left: 40px;
    padding-bottom: 68px;
    height: 490px;
    
  }
  .slider__next {
    bottom: 14px;
  }
  .swiper-wrapper {
    gap: 20px;
  }
}
