@font-face {
    font-family: "DM Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("DM Sans"), 
     url("../font/DMSans-Regular.ttf");
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 500px;
    font-style: normal;
    font-display: swap;
    src: local("DM Sans"), 
      url("../font/DMSans-Medium.ttf");
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 700px;
    font-style: normal;
    font-display: swap;
    src: local("DM Sans"), 
      url("../font/DMSans-Bold.ttf");
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 400px;
    font-style: italic;
    font-display: swap;
    src: local("DM Sans"),
      url("../font/DMSans-Italic.ttf");
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 500px;
    font-style: italic;
    font-display: swap;
    src: local("DM Sans"),
      url("../font/DMSans-MediumItalic.ttf");
  }

  @font-face {
    font-family: "DM Sans";
    font-weight: 700px;
    font-style: italic;
    font-display: swap;
    src: local("DM Sans"), 
      url("../font/DMSans-BoldItalic.ttf");
  }

  

