@font-face {
    font-family: "DM Sans";
    src: local("DMSans-Regular"), 
    url("../font/DMSans-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "DM Sans";
    src: local("DMSans-Medium"), 
    url("../font/DMSans-Medium.ttf");
    font-weight: 500px;
  }

  @font-face {
    font-family: "DM Sans";
    src: local("DMSans-Boldc"), 
    url("../font/DMSans-Bold.ttf");
    font-weight: 700px;
  }

  @font-face {
    font-family: "DM Sans";
    src: local("DMSans-Italic"),
      url("../font/DMSans-Italic.ttf");
    font-weight: 400px;
  }

  @font-face {
    font-family: "DM Sans";
    src: local("DMSans-MediumItalic"),
      url("../font/DMSans-MediumItalic.ttf");
    font-weight: 500px;
  }

  @font-face {
    font-family: "DM Sans";
    src: local("DMSans-BoldItalic"), 
    url("../font/DMSans-BoldItalic.ttf");
    font-weight: 700px;
  }

  

