
* {
	-webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
	width: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

body {
  margin: 0 auto;
	min-width: 320px;
  max-width: 1440px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main{
	display: flex;
	padding: 40px 24px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
