* {
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  width: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main {
  padding: 40px 24px;
	margin-top: 112px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

@media screen and (max-width: 1199px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    display: flex;
  }
  section {
    width: 1200px;
  }
}
