.reg-modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  overflow-y: scroll;
  transition: opacity 0.3s ease-out;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 990;
}

.reg-modal-backdrop.show {
  opacity: 1;
}

.reg-form-popup {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;

  background-color: var(--header-color);
  width: 350px;
  height: auto;

  padding-top: 30px;
  border: 2px solid black;
  border-radius: 18px;
  z-index: 9999;
}

.reg-form-register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
  padding: 20px;
}

.reg-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  cursor: pointer;
  color: var(--header-color);
}

.reg-input-forms {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--text-color);
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: var(--text-color);
  justify-content: center;
  align-items: flex-start;
  padding: 16px 11px;
  gap: 10px;

  width: auto;
  height: 100%;

  background-color: var(--header-color);
  border-radius: 40px;
  margin-bottom: 15px;
}

.btn-queue-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 116px;
  gap: 10px;

  width: auto;
  height: 100%;

  background: var(--text-color);
  border-radius: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--header-color);
}

.register-links {
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--text-color);
}

.reg-signin-btn {
  font-weight: 700;
  line-height: 1.4;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--sing-btn);
}
.reg-signin-btn:hover,
.reg-signin-btn:focus,
.reg-signin-btn:active {
  color: var(--blue-color);
  text-decoration-line: underline;
}

.reg-signup-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--sing-btn);
}

.reg-signup-btn:hover,
.reg-signup-btn:focus,
.reg-signu-btn:active {
  color: var(--blue-color);
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .reg-form-popup {
    width: 500px;
    padding-top: 40px;
  }
}

.ginput_container input {
  background-image: url('../images/svg/email_white.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 90% 1rem;
}
.reg-modal-backdrop {
     position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    overflow-y: scroll;
    transition: transform, 300ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);
		z-index: 990;
}
