
.conteiner-shopping_list {
    background-color: var(--bg-shoppinglist);
    display: flex;
    gap:40px;
		padding: 40px 24px;
}
.shopping{
    font-size: 48px;
    color: #111111;
    font-family: DM Sans;
    line-height: 1,08;
    font-weight: 700;
    letter-spacing: 0.04em;
    }
    .shopping_span{
      font-size: 48px;
    color: #4F2EE8;
    font-family: DM Sans;
    line-height: 1,08;
    font-weight: 700;
    letter-spacing: 0.04em;
    }
    .shopping-direction{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width:100%;
      gap:40px;
    }