.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
margin-right: 76;

}

.logo-img {
  width: 24px;
  margin-right: 8px;
}

.container-header {
  background-color: var(--header-color);
  max-width: 1440px;
  height: 72px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
}

.slider {
  position: relative;
  width: 40px;
  height: 20px;
  margin-right: 24px;
  border-radius: 15px;
  background: var(--slider-color);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.thumb {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.knob {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: linear-gradient(180deg, #dadada 0%, #f0efef 62.92%, #ffffff 100%);
}

.central-knob {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
}

.slider.active .thumb {
  transform: translateX(20px);
}

.right-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.sign-up-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  padding: 12px 14px;
  text-decoration: none;
  background: var(--blue-color);
  border: 1.5px solid #111111;
  border-radius: 18px;

  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.unauthorized-header{
	width: 184px;
	border-radius: 18px;
}

.home-link-shopping {
		width: 72px;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
letter-spacing: -0.04em;
text-transform: uppercase;

color: var(--text-color);
margin-right: 24px;
 box-sizing: border-box;
 padding: 8px 16px;
transition: background-color 0.5s ease;;
}
.home-link-shopping:hover {
	padding: 6px 14px;
	   border: 2px solid var(--yellow-color);
	 border-radius: 36px;
}

.shopping-link-order {
  background: var(--yellow-color);
  color: var(--text-color);
  border-radius: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.shopping-link-order {
	color: #111111;
}

.shopping-link-order:hover {
		padding: 6px 14px;
	   border: 2px solid var(--yellow-color);
	 border-radius: 36px;
}

.conteiner-shopping-list {
  background-color: var(--bg-color);
  display: flex;
  padding: 40px 24px;
}

.shopping {
  margin-bottom: 20px;
  font-size: 48px;
  color: var(--text-color);
  font-family: DM Sans;
  line-height: 1,08;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.shopping_span{
  font-size: 48px;
  color: var(--blue-color);
  font-family: DM Sans;
  line-height: 1.08;
  font-weight: 700;
  letter-spacing: -0.04em;
}

// .shopping-direction{
//   // margin: 0 auto;
//   // width: 100%;
//   // display: flex;
//   // flex-direction: column;
//   // gap:40px;
// }


// ShendrykA from 32 to 161 lines

.conteiner-shopping-books {
  display: flex;
  flex-direction: column;
}

.container-shopping-card {
  position: relative;
  display: flex;
  width: 996px;
  height: 213px;
  margin: 20 auto 0;
  padding: 24px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}

.shopping-card-img {
  min-width: 116px;
  height: 165px;
  margin-right: 24px;
  border: solid 3px var(--blue-color);;
}

.shopping-card-title {
  margin: 0 0 4px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color);
}

.shopping-card-list-name {
  margin: 0 0 14px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #B4AFAF;
}

.shopping-card-description {
  margin: 0 0 24px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--text-color);
}

.shopping-card-author {
  margin: 0;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #B4AFAF;
}

.shopping-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shopping-card-list {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.shopping-card-item {
  list-style: none;
}

.shopping-card-pic {
  filter: grayscale(1);
}

.shopping-card-item:not(:last-child) {
  margin-right: 16px;
}

.shopping-card-dump-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: var(--blue-color);
  border-radius: 50%;
  border: none;
}

.shopping-card-dump-icon {
  width: 48px;
  height: 48px;
}

.container-shopping-empty {
  width: 349px;
  height: 309px;
  margin: 140px auto;
  border: solid 2px var(--blue-color);
}

.shopping-empty-text {
  margin: 0 auto;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.shopping-empty-img {
  display: block;
  width: 322px;
  height: 241px;
  margin: 20 auto 0;
}