.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
  }
  
  .logo-img {
    width: 24px;
    margin-right: 8px;
  }
  
  .container-header {
    background-color: var(--header-color);
    max-width: 1440px;
    height: 72px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
  }
  
  .slider {
    position: relative;
    width: 40px;
    height: 20px;
    margin-right: 24px;
    border-radius: 15px;
    background: var(--slider-color);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .thumb {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .knob {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: linear-gradient(180deg, #dadada 0%, #f0efef 62.92%, #ffffff 100%);
  }
  
  .central-knob {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  }
  
  .slider.active .thumb {
    transform: translateX(20px);
  }
  
  .right-header {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .sign-up-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    padding: 12px 14px;
    text-decoration: none;
    background: var(--blue-color);
    border: 1.5px solid #111111;
    border-radius: 18px;
  
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #ffffff;
  }
.conteiner-shopping_list{
    background-color: var(--bg-shoppinglist);
    max-width: 1440px;
    max-height: 1007px; 
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 40px;
}