.categories-block {
  display: block;
  width: 356px;
  overflow-y: scroll;
	
}

.categories-list {
  list-style: none;
  max-width: 356px;

}

.categories-list__item {
  text-decoration: none;

}

.categories-list__button {
  font-family: 'DM Sans';
  font-style: normal;

  border: none;
  outline: none;
  background-color: transparent;
			color: var(--text-color);
}

.active-category {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--category);
			// color: var(--text-color);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #e0e0e0;
  /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); */
}
