.categories-list {
  list-style: none;
  max-width: 356px;
  margin-bottom: 86px;
}

.categories-list__item {
  text-decoration: none;
}

.categories-list__button {
  font-family: 'DM Sans';
  font-style: normal;

  border: none;
  outline: none;
  background-color: rgb(246, 246, 246);
}

.active-category {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #4f2ee8;
}
