<div class="menu-container visually-hidden">
  <div class="container-header">
    <a class="header-logo" href="/src/index.html">
      <img
        class="logo-img"
        src="./images/logo1x.png"
        alt="logo"
        width="109"
        height="28"
      />
      <!-- <p>Bookshelf</p> -->
    </a>

    <div class="right-header">
      <div class="slider1">
        <span class="thumb">
          <span class="knob">
            <span class="central-knob"> </span>
          </span>
        </span>
      </div>
    </div>
    <button class="menu-toggle js-close-menu">
      <svg class="x-button-black">
        <use href="./images/svg/svg_sprite.svg#x-button-black"></use>
      </svg>
    </button>
  </div>

  <a
    id="signup-link1"
    class="sign-up-link1"
    href=""
    onclick="openForm(); return false;"
    >Sign up<svg class="arrow-right" width="20" height="20">
      <use href="/src/images/svg/svg_sprite.svg#right-arrow"></use>
    </svg>
  </a>
  <div class="userbar">
    <a class="logged-user1">
      <img
        class="user-avatar"
        srcset="images/user_avatar_x1.png 1x, images/user_avatar_x2.png 2x"
        src="images/user_avatar_x1.png"
        alt="user avatar"
        width="35"
      />
      Степан Бандера
    </a>

    <div>
      <a class="logout visually-hidden">
        Log out
        <svg class="arrow-right" width="20" height="20">
          <use href="/src/images/svg/svg_sprite.svg#right-arrow"></use>
        </svg>
      </a>
      <div class="hugeback visually-hidden"></div>
    </div>
  </div>
  <div class="super-navigation">
    <a class="home-link1" href="./index.html">Home </a>
    <a class="shopping-list-link1" href="./shoppinglist.html"
      >shopping list<svg
        class="busket-shopping-list"
        width="13.4"
        height="16.6"
      >
        <use href="/src/images/svg/svg_sprite.svg#bag-white"></use>
      </svg>
    </a>
  </div>
  <div class="absolute">
    <div class="header-modal-image"></div>
    <a class="log-out" href="" onclick="openForm(); return false;"
      >Log out<svg class="arrow-right" width="20" height="20">
        <use href="/src/images/svg/svg_sprite.svg#right-arrow"></use>
      </svg>
    </a>
  </div>
</div>
