<header dark-mode-header>
  <div class="container-header">
    <a class="header-logo" href="/src/index.html">
      <img
        class="logo-img"
        src="../src/images/logo.png"
        alt="logo"
        width="25"
        height="25"
      />
      <p>Bookshelf</p>
    </a>

		<a class="home-link" href="/src/index.html"
        >Home
        </a>


				<a class="shopping-list-link" href="./shoppinglist.html"
        >shopping list<svg class="arrow-right" width="20" height="20">
          <use href="/src/images/svg/shopping_bag.svg"></use></svg>
        </a>

    <div class="right-header">
      <div class="slider">
        <span class="thumb">
          <span class="knob">
            <span class="central-knob"> </span>
          </span>
        </span>
      </div>

			<a id="signup-link" class="sign-up-link" href="" onclick="openForm(); return false;"
        >Sign up<svg class="arrow-right" width="20" height="20">
          <use href="/src/images/svg/svg_sprite.svg#right-arrow"></use></svg>
        </a>
    </div>
		<button class="menu-button" data-menu-open aria-label="menu">
					<svg class="menu-hamburger" width="28" height="28">
						<use href="/src/images/svg/svg_sprite.svg#burger-menu"></use>
					</svg>
				</button>
  </div>
</header>
