<header dark-mode-header>
  <div class="container-header">
    <a class="header-logo" href="#">
      <img
        class="logo-img"
        src="../src/images/logo.png"
        alt="logo"
        width="25"
        height="25"
      />
      <p>Bookshelf</p>
    </a>

    <div class="right-header">
      <div class="slider">
        <span class="thumb">
          <span class="knob">
            <span class="central-knob"> </span>
          </span>
        </span>
      </div>
      <a class="sign-up-link" href="#"
        >Sign in<svg class="arrow-right" width="20" height="20">
          <use href="/src/images/svg/svg_sprite.svg#right-arrow"></use></svg>
        </a>
        <li class="header__navigation-item"><button class="header__navigation-button logout-btn mobile-header visually-hidden"
            type="button">Log out</button></li>
    </div>
  </div>
</header>
