<div class="reg-modal-backdrop visually-hidden">
  <div class="reg-form-popup" id="myForm">
    <form class="reg-form-register">
      <button class="reg-close-button close-btn" type="button">
        <svg class="reg-close-icon" width="31" height="31">
          <use href="./images/svg/svg_sprite.svg#x_button_black.svg"></use>
        </svg>
      </button>
      <input
        class="reg-input-forms reg-name user-img"
        type="text"
        placeholder="NAME"
        title="enter your name"
        name="name"
      />
      <input
        class="reg-input-forms reg-email email-img"
        type="email"
        placeholder="EMAIL"
        name="email"
        title="example@gmail.com"
      />

      <input
        class="reg-input-forms reg-password password-img"
        type="password"
        placeholder="PASSWORD"
        name="password"
        title="Minimum 6 characters"
      />
      <button class="btn-queue-modal btn" id="sign_up" type="button" disabled>
        SIGN UP
      </button>
      <button class="btn-queue-modal btn" id="sign_in" type="button">
        SIGN IN
      </button>
      <div class="reg-i-gree">
        <input class="reg-checkbox" type="checkbox" id="sign-up-checkbox" />
        <label class="reg-checkbox-custom" for="sign-up-checkbox"></label>
        <a class="reg-checkbox-label" id="conditions-link" href="#conditions"
          >I agree to the terms and conditions
        </a>
      </div>

      <div class="register-links">
        <a class="reg-signup-btn" href="#">SIGN UP</a>
        <a class="reg-signin-btn" href="#">SIGN IN</a>
      </div>
    </form>
  </div>
  <include src="./partials/conditions.html"></include>
</div>
