
<div class="reg-modal-backdrop visually-hidden">
		<div class="reg-form-popup" id="myForm">
        <form action="/action_page.php" class="reg-form-register">
            <button class="reg-close-button" type="button" >
                <svg class="reg-close-icon" width="31" height="31">
                    <use href="#"></use>
                </svg>
            </button>
            <label for="name"></label>
                <input class="reg-input-forms" type="text" placeholder="NAME" name="email" required>
            <label for="email"></label>
            <input class="reg-input-forms" type="text" placeholder="EMAIL" name="email" required>
            <label for="psw"></label>
            <input class="reg-input-forms" type="password" placeholder="PASSWORD" name="psw" required>
            <button type="submit" class="reg-btn-submit">SIGN UP</button>
            <div class="register-links">
            <a class="reg-signup-btn" href="">SING UP</a>
            <a class="reg-signin-btn" href="">SING IN</a>
            </div>
        </form>
    </div>
</div>


