@media screen and (min-width: 480px) {
}

@media screen and (max-width: 479px) {
}

@media screen and (min-width: 480px) and (max-width: 767px) {
}

@media screen and (max-width: 767px) {
  .home-link {
    display: none;
  }
  .shopping-list-link {
    display: none;
  }
}
