.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  margin-right: 76;
}

.logo-img {
  width: 28px;
  margin-right: 8px;
}

.logo-name {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--text-color);
}
.container-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--header-color);
  max-width: 1440px;
  height: 72px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
}

.slider,
.slider1 {
  position: relative;
  width: 40px;
  height: 20px;
  margin-right: 24px;
  border-radius: 15px;
  background: var(--slider-color);
  box-shadow: 0 0 0.3em 0.1em var(--header-color);
  cursor: pointer;
}

.slider:hover,
.slider:focus {
  box-shadow: 0 0 0.3em 0.1em var(--text-color);
}

.thumb {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.knob {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: linear-gradient(180deg, #dadada 0%, #f0efef 62.92%, #ffffff 100%);
}

.central-knob {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
}

.slider.active .thumb {
  transform: translateX(20px);
}
.slider1.active .thumb {
  transform: translateX(20px);
}

.right-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.sign-up-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  padding: 12px 14px;
  text-decoration: none;
  background: var(--blue-color);
  border: 1.5px solid #111111;
  border-radius: 18px;

  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sign-up-link:hover,
.sign-up-link:focus {
  color: var(--yellow-color);
  border-color: var(--yellow-color);
}

.unauthorized-header {
  width: 184px;
  border-radius: 18px;
}

.home-link {
  background: var(--yellow-color);
  border-radius: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  padding: 8px 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--text-color);
  margin-right: 24px;
  border: 2px solid transparent;
  transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shopping-list-link {
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 36px;
  transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shopping-list-link:hover {
  border-color: var(--yellow-color);
  padding: 8px 16px;
  transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.home-link:visited {
  color: #111111;
}
.home-link:hover {
  border-color: #804b00;
  color: #804b00;
  transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-queue-modal:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

///terzi
.busket-shopping-list {
  margin-left: 7.33px;
}
